
* {
    padding: 0;
    margin: 0;
    font-family: 'Anek Tamil', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
}

.MuiPaper-elevation ul > div {
    form {
        margin-bottom: 1vw;
        .MuiOutlinedInput-root {
            margin-bottom: 1vw;
        }
    }
    padding: 2vw;
}
.categorySlider {
    width: 95vw;
    margin: auto;
}
@media (max-width:854px) {
    .categorySlider {
        width: 95vw;
        margin: auto;
    }
    .signIn-0-2-2, .signUp-0-2-2 {
        margin: 2vw auto !important;
        padding: 2vw !important;
        box-shadow: none !important;
    }
}
@media (max-width:400px) {
    .store-0-2-2 .product div.MuiGrid-root.image img {
        margin-top: 10vh !important;
    }
}
